:root{
  --color-principal: #099d8d;
  --color-second:#14d9c4;
  --color-text-header: white;
  --color-text-primary: #54585a;
  --color-detail: #b8b8b9;
  --color-text-secondary: #000000; 
}

.fortydeb{
  width:100%;
  background-color: var(--color-detail);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fortalezas{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 4.69%;
  margin-right: 4.69%;
}

.debilidades{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 4.69%;
  margin-right: 4.69%;
  margin-bottom: 14.06%;
}

.title-deb, .title-fort{
  color: var(--color-principal);
  margin-top: 9.34%;
  font-family: Arial, Helvetica, sans-serif; /*se llama Rubik*/
  font-size: 1.375rem;
  line-height: 2.05;
}

.par-deb, .par-fort{
  color: var(--color-text-primary);
  font-family: Arial, Helvetica, sans-serif; /*se llama OpenSans*/
  font-size: 1rem;
  line-height: 1.5;
}

.rectangle{
  background-color: var(--color-text-header);
  width: 9.34%;
  height: 9.34%;
  transform: rotate(45deg);
  position: relative;
  top: 0; /*no se ve*/
}