<section class="fortydeb">
  <div class="container containerfor">
    <article class="fortalezas">
      <h2 class="title-fort">Fortalezas</h2>
      <p class="par-fort">
        Destacamos por nuestra inteligencia emocional, cualidad que nos ayuda a
        gestionar de la mejor manera los conflictos. Además, somos responsables
        y tenemos una gran capacidad de aprendizaje. Finalmente, somos
        flexibles; nuestra capacidad de adaptación nos permite estar
        constantemente actualizadas.
      </p>
    </article>
    <article class="debilidades">
      <h2 class="title-deb">Debilidades</h2>
      <p class="par-deb">
        Nuestra mayor tara es el perfeccionismo, pero estamos trabajando en
        ello. También tenemos tendencia a buscar aprobación externa, ya que
        intentamos encontrar la solución a todo los problemas a la primera.
      </p>
    </article>
  </div>
</section>
