<header class="header ">
  <div class=" team-name ">
    <h1 class="title-header">Las PaniQueras</h1>
  </div>
  <nav>
    <ul class="nav">
      <li> <button class="button">
          <a class="link" href="./index.html#team">EQUIPO</a>
        </button></li>
      <li> <button class="button">
          <a class="link" href="./index.html#who">QUIÉNES SOMOS</a>
        </button></li>
      <li> <button class="button">
          <a class="link" href="./contact.html" target="_blank">CONTACTO</a>
        </button></li>
    </ul>
  </nav>
</header>