
  <section id="team" class="team">
    <div  class="container" >
      <h2 class="title-team">EQUIPO</h2>
      <p>
        Somos personas de orígenes y personalidades muy diferentes, con estudios e
        inquietudes diversas, pero hemos logrado complementarnos perfectamente
        para lograr superar los retos juntas.
      </p>
      <p>
        Nuestro objetivo es aprender, crecer y ser parte de este fascinante y
        difícil mundo de la programación. Y como la práctica hace al maestro,
        queremos iniciar esta carrera de fondo aprendiendo día a día con un
        estusiasmo que nos lleve a ser las mejores desarrolladoras.
      </p>
    </div>
    

    <div class="rectangle-final-team"></div>
  </section>
</div>
