<section id="who" class="who">
  <h2 class="who-we-are">QUIÉNES SOMOS</h2>

  <article class="personal">
    <img src="./assets/images/Monica.jpg" alt="Monica" class="frame">
    <p class="Names">Mónica González Sánchez</p>
    <p class="text-who">

      PaniQuera profesional. Madre de dos criaturas, que ha pasado por diferentes puestos de diversos
      sectores desde el agrícola al industrial. La maternidad me cambió y me enseñó a ver el mundo desde
      otra perspectiva. Después de 8 años de crianza al volver mundo laboral, ya no encajaba, lo que me ha
      llevado hasta aquí. Un nuevo inicio como alumna de Adalab.</p>
    <div class="icon">
      <a href="https://twitter.com/ModeHans">
      <i class="fab fa-twitter fa-lg" style="color: #099d8d;"></i>
      </a>
      <a href="https://www.linkedin.com/in/monicaglezsanch">
      <i class="fab fa-linkedin-in fa-lg" style="color: #099d8d;"></i>
      </a>
      <a href="https://github.com/modehans">
      <i class="fab fa-github-alt fa-lg" style="color: #099d8d;"></i>
      </a>
      <i class="fas fa-envelope fa-lg" style="color: #099d8d;"></i>
    </div>


    <article class="personal">
      <img src="./assets/images/Tatiana.jpg" alt="Tatiana" class="frame">
      <p class="Names">Tatiana Nazarova</p>
      <p class="text-who">

        Una ex arquitecta y pronto ex diseñadora gráfica que quiere disculparse con todos los programadores con los que ha trabajado. Solo ahora puedo entender lo que cuesta  mover un botón 3 px a la izquierda.</p>
      <div class="icon">
        <i class="fab fa-twitter fa-lg" style="color: #099d8d;"></i>
        <a href="https://www.linkedin.com/in/tatiana-nazarova-4644b748/">
        <i class="fab fa-linkedin-in fa-lg" style="color: #099d8d;"></i>
      </a>
      <a href="https://github.com/Tatiana-Na">
        <i class="fab fa-github-alt fa-lg" style="color: #099d8d;"></i>
      </a>
        <i class="fas fa-envelope fa-lg" style="color: #099d8d;"></i>
      </div>

      <article class="personal">
        <img src="./assets/images/Nereida.jpg" alt="Nereida" class="frame">
        <p class="Names">Nereida Rodríguez Orenes</p>
        <p class="text-who">Estudié Biología en Alicante, cerca de donde nací, pero he pisado todos los
          lugares que he podido. Actualmente me estoy formando como programadora en Adalab, con el
          objetivo de trabajar en el sector tecnológico. Me gusta resolver los conflictos hablando...
          o
          con magdalenas caseras.</p>
        <div class="icon">
          <i class="fab fa-twitter fa-lg" style="color: #099d8d;"></i>
          <a href="https://www.linkedin.com/in/nereida-rodr%C3%ADguez-orenes-b20a09235/">
          <i class="fab fa-linkedin-in fa-lg" style="color: #099d8d;"></i>
        </a>
        <a href="https://github.com/NereidaRO">
          <i class="fab fa-github-alt fa-lg" style="color: #099d8d;"></i>
        </a>
          <i class="fas fa-envelope fa-lg" style="color: #099d8d;"></i>
        </div>
      </article>

      <article class="personal">
        <img src="./assets/images/Rocio.jpg" alt="Rocio" class="frame">
        <p class="Names">Rocío Luna Merchán</p>
        <p class="text-who">
          Gryffindor de corazón, nacida detrás del muro. No me decido entre Londres y California, aun
          que
          hace años que no piso la matrix. Me encantan las cosas extrañas, así que mi número favorito
          es
          el 11. Y nunca me acuesto enfadada con la gente a la que quiero 3000.</p>
        <div class="icon">
          <a href="https://twitter.com/RoxMoon16">
          <i class="fab fa-twitter fa-lg" style="color: #099d8d;"></i>
        </a>
        <a href=" https://www.linkedin.com/in/roc%C3%ADo-luna-merch%C3%A1n-6779601b8/">
          <i class="fab fa-linkedin-in fa-lg" style="color: #099d8d;"></i>
        </a>
        <a href="https://github.com/LunaRocio">
          <i class="fab fa-github-alt fa-lg" style="color: #099d8d;"></i>
        </a>
        <a href=" r.lunamerchan@gmail.com">
          <i class="fas fa-envelope fa-lg" style="color: #099d8d;"></i>
        </a>
        </div>

        <article class="personal">
          <img src="./assets/images/Ana_Cristina_Huertas_Sansaloni.jpg" alt="Ana-Cristina" class="frame">
          <p class="Names">Ana cristina Huertas Sansaloni</p>
          <p class="text-who">
            Estudié filosofía pero me apasiona el diseño gráfico y todo lo que tenga que ver con la estética en el mundo digital. Eso me ha llevado a embarcarme en esta aventura del desarrollo web y conseguir llegar a ser una adalaber.</p>
          <div class="icon">
            <a href="https://twitter.com/Cristin25787212">
            <i class="fab fa-twitter fa-lg" style="color: #099d8d;"></i>
          </a>
            <i class="fab fa-linkedin-in fa-lg" style="color: #099d8d;"></i>
            <a href="https://github.com/CristinaHSansaloni">
            <i class="fab fa-github-alt fa-lg" style="color: #099d8d;"></i>
          </a>
          <a href="aacchhss@hotmail.com">
            <i class="fas fa-envelope fa-lg" style="color: #099d8d;"></i>
          </a>
</div>
