    $color-principal: #099d8d;
    $color-second: #14d9c4;
    $color-text-header: #ffff;
    $color-text-primary: #54585a;
    $color-detail: #b8b8b9;
    $color-text-secondary: #000000;
    $color-detail-light: #b8b8b980;

    .container {
      padding: 0 10vw;
    }