.contact-text {
    text-align: center;
    width: 100vw;
    
}

.title-contact {
    color: $color-second;
    line-height: 1.88;
    font-weight: 600;
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
  }