
  .contact-text {
    text-align: center;
    width: 100vw;
    height: 100vh;
    margin-top: 40%;
}

.h1 {
    color: $color-principal;
    text-align: center;
    font-family: "Rubik", sans-serif;

}


.form {
    width: 290px;
  }
  
  .label{
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
    color: $color-text-primary;
  }
  
  .input {
    font-family: $color-detail;
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
    color: $color-detail-light;
    padding: 11px 0 15px 15px;
    margin: 5px 0 10px 0;
    font-weight: lighter;
    width: 290px;
    height: 45px;
    box-sizing: border-box;
  }
  
  .input_dark {
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
    color: $color-text-primary;
    padding: 11px 0 15px 15px;
    margin: 5px 0 10px 0;
    font-weight: bold;
    width: 290px;
    height: 45px;
    box-sizing: border-box;
  }
  
  .textarea {
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
    color: $color-detail;
    padding: 11px 0 15px 15px;
    margin: 5px 0 10px 0;
    font-weight: lighter;
    width: 290px;
    height: 105px;
    box-sizing: border-box;
  }
  
  .button {
    background-color: $color-principal;
    font-family: "Rubik", sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    width: 290px;
    height: 45px;
    margin: 30px 0 60px 0;
    box-sizing: border-box;
    border: none;
  }
  
  .required {
    font-family: "Rubik", sans-serif;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    color: $color-text-primary;
    padding: 15px 0 15px 0;
  }
  
  .asterisk {
    color: $color-second;
  }


  .h1 {
    color: $color-principal;
   text-align: center;
   padding: 30px 0px 15px 0px;
   text-transform: uppercase;
   font-size: 2.4rem;  
   @media all and (min-width: 768px){
       padding-top: 30px;
   }
   @media all and (min-width: 1200px){
       padding-top: 45px;
   }
}


.contacto{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: $color-gris-oscuro;
   text-align: center;
   padding: 0px 15px 30px 15px;
   font-size: 1.6rem;
   
}

.small-text {
   color: $color-gris-oscuro;
   text-align: center;
   padding: 30px 15px 30px 15px;
   font-size: 1.2rem;
   
}
span {
   color: $color-secundario;
   font-weight: bold;
}

.form {
   display: flex;
   justify-content: center;
   flex-direction: column;
   margin: 15px 15px;    
   @media all and (min-width:768px) {
       width: 422px;
       position: relative;
       transform: translateX(25vw);
       margin: 0px 15px;
   }
   @media all and (min-width:1200px) {
       width: 601px;
   }
}

.form__input {
   padding: 15px;
   color: $color-gris-claro;
   opacity: 60%;

}

.form__input--mail{
   color: $color-gris-oscuro;
   padding: 15px;
   @media all and (min-width:1200px) {
       width: 395px;
   }
   
  
}
.form__input--tel{
   color: $color-gris-claro;
   opacity: 60%;
   padding: 15px;
   @media all and (min-width:1200px) {
       width: 162px;
   }
}
.form-desktop {
   @media all and (min-width:1200px) {
       width: 601px;
       display: flex;
       flex-wrap: nowrap;
       gap: 15px;
   }
}

label {
   padding-bottom: 5px;
   font-size: 1.4rem;
   color: $color-gris-oscuro;
}


input {
   height: 45px;
}

textarea{
   height: 105px;
}

button {
   text-transform: uppercase;
   border-radius: 5px;
   color: $color-gris-fondo;
   background-color: $color-principal;
   border: none;
   font-size: 1.6rem;
   font-weight: bold;
   margin-bottom: 60px;
   height: 45px;
   @media all and (min-width:768px) {
       width: 206px;
       position: relative;
   transform: translate(100%, 42.5px);
   }
   @media all and (min-width:1200px) {
       width: 300.5px;
       transform: translate(25vw, 52.5px);
   }
}

.contacto-container {
    @media all and (min-width:768px) {
   width: 422px;
   }
   @media all and (min-width:1200px) {
   width: 601px;
   }
}
.container-form {
   @media all and (min-width:1200px) {
       display: flex;
       flex-direction: column;
       flex-wrap: nowrap;
   }
}

  
  