.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.copyright {
  color: $color-detail;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.links-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.footer .logo {
  width: 115.9px;
  height: 45px;
}

.link-footer {
  color: $color-text-primary;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

@media all and (min-width:768px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 50% 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0px;
  }

  .copyright {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .logo {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .links-info {
    grid-column: 3/4;
    grid-row: 1/3;
  }
}