.footer {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.copyright {
  color: var(--color-detail);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.links-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.footer .logo {
  width: 115.9px;
  height: 45px;
}

.link-footer {
  color: var(--color-text-primary);
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

@media all and (min-width:768px ){
  /*na de na */
}
