.header {
  width: 100vw;
  background-color: var(--color-principal);
  position: fixed;
  top: 0;
  opacity: 0.9;
  z-index: 999; 
}

.team-name {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-margin-top: 95px;
}

.title-header {
  color: var(--color-text-header);
  line-height: 30px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.nav {
  height: 45px;
  background-color: var(--color-second);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}


.link {
  color: var(--color-text-header);
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  line-height: 30px;
  font-size: 15px;
  text-decoration: none;
  padding: 15px;
}

@media all and (min-width:768px ){
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   }

   .team-name {
    padding-left: 45px;
   }

   .nav{
    background-color: transparent;
    padding-right: 45px;
  }
}

@media all and (min-width:1200px ){ 
  .nav{
   
    padding-right: 45px;
   }   
}

